@model Course_project.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h3>@Localizer["LoginExternalProvider"]</h3>
<form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
    @foreach (var provider in Model.ExternalProviders)
    {
        <button type="submit" name="provider" class="btn btn-primary mt-1" value="@provider.Name">@provider.DisplayName</button>
    }
</form>
<h2>@Localizer["LoginApp"]</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="@Localizer["Name"]"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="@Localizer["Password"]"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="@Localizer["RememberMe"]"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-1">@Localizer["BtnLogin"]</button>
    </div>
</form>