@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>Item:@Model.Name </h2>

<span>@ViewBag.Likes</span>
<button  class="btn btn-primary m-1" id="likeBtn" >Like</button>
<input type="text" id="comment" />
<button class="btn btn-primary m-1" id="commentBtn">Comment</button>

<table class="table table-striped table-hover">
    <tbody id="games">
        @if (ViewBag.Comments != null)
            @foreach (var comment in ViewBag.Comments)
            {
                <tr>
                    <td>@comment.UserId</td>
                    <td>@comment.messenge</td>
                </tr>
            }
    </tbody>
</table>



<script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>    
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/Items")
        .build();
    hubConnection.on('getComment', function (data) {
        var div = document.getElementById('games');
        while (div.firstChild) {
            div.removeChild(div.firstChild);
        }
        for (i = 0; i < data.length; i++) {
            var user = data[i].userId;
            var messenge = data[i].messenge;
            var tbody = document.getElementById("games");
            var row = document.createElement("TR")
            var td1 = document.createElement("TD")
            var td2 = document.createElement("TD")
            td1.appendChild(document.createTextNode(user));
            td2.append(messenge)
            row.appendChild(td1);
            row.appendChild(td2);
            tbody.appendChild(row);
        }
    });

    hubConnection.on('getLike', function (data) {
        document.getElementById("divInfo").hidden = false;
    });

    hubConnection.on('getConnected', function (data) {
        let id = "@Model.Id";
        hubConnection.invoke("GetGroup", id);
    });
    hubConnection.on('getDisConnected', function (data) {
        let id = "@Model.Id";
        hubConnection.invoke("DelGroup", id);
    });
    document.getElementById("commentBtn").addEventListener("click", function (e) {
        let comment = document.getElementById("comment").value;
        let id = "@Model.Id";
        let name="@User.Identity.Name";
        hubConnection.invoke("Comment", comment, id, name);
    });

    document.getElementById("likeBtn").addEventListener("click", function (e) {
        let id="@Model.Id";
        hubConnection.invoke("Like", id);
    });

    hubConnection.start();
</script>