@model Course_project.ViewModels.CollectionViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>New Collection Creating</h2>
<form method="post" asp-controller="Collections" asp-action="Create" asp-route-userid="@ViewBag.Id">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name">@Localizer["Name"]</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Theme">@Localizer["Theme"]</label><br />
        <select asp-for="Theme" >
            <option value="Books">@Localizer["Books"]</option>
            <option value="Money">@Localizer["Money"]</option>
            <option value="Guns">@Localizer["Guns"]</option>
            <option value="Stamps">@Localizer["Stamps"]</option>
            <option value="Alcohol">@Localizer["Alcohol"]</option>
        </select>
    </div>
    <div>
        <label asp-for="Summary">@Localizer["Summary"]</label><br />
        <input asp-for="Summary" />
        <span asp-validation-for="Summary"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-1">@Localizer["Create"]</button>
    </div>
</form>