@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>User: @ViewBag.Collection.Owner</h2>
<h4>Name of Collection: @ViewBag.Collection.Name </h4>
<form id='items' method="post">
    @if (User.IsInRole("admin") || User.Identity.Name.Equals(ViewBag.Collection.Owner))
    {
        <button type="submit" class="btn btn-primary m-1" asp-controller="Item" asp-action="Create">Add Item</button>
        <button type="submit" class="btn btn-primary m-1" asp-controller="Item" asp-action="Delete">Delete Item</button>
    }
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Description</th>
            @if (User.IsInRole("admin") || User.Identity.Name.Equals(ViewBag.Collection.Owner))
            {
                <th><input type="checkbox" name="cb_all"></th>
            }
        </tr>
        @foreach (var items in Model)
        {
            <tr>
                <td><a asp-controller="Collections" asp-action="Index" asp-route-id="@items.Id">@items.Name</a></td>
                <td>@items.Description</td>
                @if (User.IsInRole("admin") || User.Identity.Name.Equals(ViewBag.Collection.Owner))
                {
                    <td><input type="checkbox" class="qwe" name="item" value="" /></td>
                }
            </tr>
        }
    </table>
</form>

<script>
    var f = document.getElementById('items');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var qwe = el.form.getElementsByClassName('item');
        for (var i = 0; i < qwe.length; i++) {
            if (el.checked) {
                qwe[i].checked = true;
            } else {
                qwe[i].checked = false;
            }
        }
    }
</script>
