@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>User: @ViewBag.Collection.Owner</h2>
<h4>Name of Collection: @ViewBag.Collection.Name </h4>
<form id='items' method="post">
    <button type="submit" class="btn btn-primary m-1" asp-controller="Collections" asp-action="Delete">Add Item</button>
    <button type="submit" class="btn btn-primary m-1" asp-controller="Collections" asp-action="Block">Delete Item</button>

    <table class="table table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>Theme</th>
            <th>Name</th>
            <th>Number of Items</th>
            <th>Summary</th>
            <th>Tags</th>
            <th><input type="checkbox" name="cb_all"></th>
        </tr>
        @foreach (var items in Model)
        {
            <tr>
                <td><a asp-controller="Collections" asp-action="Index" asp-route-id="@items.Id">@items.Name</a></td>
                <td>@items.Theme</td>
                <td>@items.Summary</td>
                <td><input type="checkbox" class="qwe" name="item" value="" /></td>
            </tr>
        }
    </table>
</form>

<script>
    var f = document.getElementById('items');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var qwe = el.form.getElementsByClassName('item');
        for (var i = 0; i < qwe.length; i++) {
            if (el.checked) {
                qwe[i].checked = true;
            } else {
                qwe[i].checked = false;
            }
        }
    }
</script>
